[MASTER]
jobs=4
[MESSAGES CONTROL]

disable=missing-docstring,
		too-many-public-methods,
		invalid-name,
		too-many-arguments,
		too-few-public-methods,
		abstract-method,
		fixme,
		trailing-newlines,
		attribute-defined-outside-init,
		too-many-instance-attributes

[FORMAT]
indent-after-paren=4

