<!DOCTYPE html>
<html>
  <head>
    <title>Tidal</title>
    
  <script src="/media/js/react.development.js"></script>
  <script src="/media/js/react-dom.development.js"></script>
  <script src="/media/js/babel.min.js"></script>

<style>
#sessions-list-container {
  width: 100%;
  max-width: 80em;
  text-align: center;
  margin:auto;
  border: 1px solid black;
}

.session {
  background-color: #ccffcc;

}
.session.keystrokes {
  background-color: #ccccff;
}

.ssh {
  width: 100%;
  height: 800px;
}

.ssh-frame {
  width: 100%;
  height: 100%;
}
</style>

<body>

<div id="sessions-list-container"></div>

<script src="{{ static_url("js/session_list.jsx") }}" type="text/babel"></script>
</body>
</html>

